#schimbator{
    color:green;
    background:yellow;
    transition: color 1s linear, background 1.5s linear;
    opacity: 0.5;
    background-size: cover;
    background-origin: padding-box;
   }
   #schimbator:hover{
    color:red;
    background:orange;
    
    /* transform: rotate(90deg); */
    
   }

   @keyframes schimbare{
    0%{
      background:pink;
    }
    50%{
      width:200px;
      height:200px;
      rotate: 20;
    }
    75%{
      background:black;
      
    }
    100%{
      background:lightblue;
      width:100px;
      height:100px;
    }
   }

   #animat{
    animation-name: schimbare;
    animation-duration:2s;
    animation-timing-function:linear;
    animation-iteration-count: 5;
   }

   #animat{
    width:100px;
    height:100px;
    border:1px solid black;
   }

#tabelas {
  align-content: center;
    border: 2px solid greenyellow;
    border-spacing: 10px;
    border-radius: 20%;
    background-color: lightblue;
    opacity: 0.7;
    background-position: 10%;
    
   }

#tabelas tbody tr td {
  border-right: 2px solid red;
  border: 2px solid yellow;
  padding: 5px;
  border-radius: 20%;
}

#tabelas thead tr th {
  /* background-color: violet; */
  background-image: radial-gradient(circle at 10% 25%, red, blue, green);
  border-radius: 20%;
}

.tabell {
  display: flexbox;
  align-self: center;
}

#tryflex {
  display: flex;
  /* outline: 2px solid orange; */
  justify-content: center;
  /* width: 20%; */
  transition: all 2s linear;
  width: 100px;
  height: 100px;
  margin: 50px;
}

#tryflex:hover {
  transform: perspective(33);
  /* transform: translateY(20px); */
  /* transform: rotateY(50deg); */
  transform: rotate(50deg);
}

#animatieh {
  width: 100px;
  height: 100px;
  background-color: aqua;
  transition: all 2s linear;
}

#animatieh:hover {
  transform: rotate(90deg);
}


#mini-card-grid {
  scrollbar-color: #666 #201c29;
  scrollbar-gutter: always; 
  padding: 3rem 0 3rem 2rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll; 
  /* -webkit-overflow-scrolling: touch; */
  /* outline: 5px solid green; */
  width: 80%;
  /* margin: 10%; */
  justify-content: flex-end;
}


#mini-card-grid {
  /* display: grid; */
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 0 0 1.5rem;
  position: relative;
  background: #434343;

}

#mini-card:first-child {
  margin-left: 0rem;
}

#mini-card {
  padding: 1.5rem;
  border-radius: 16px;
  background: linear-gradient(85deg, #434343, #262626);
  color: #fff;
  transition: .2s;
  margin: 0;
  width:100px;
  height: 100px;
  /* flex-direction: row; */
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
  /* box-shadow: -2rem 0 3rem -2rem #000; */
  margin-left: -2rem;
}

#mini-card:hover {
 
  transform: translateY(-1rem) rotate(3deg);
}

.mini2:hover {
  
  scale: 1.1;
}

#mini-card:last-child {
  margin-right: 1rem;
}

.maxi1 {
  display: flex;
  justify-content: flex-start;
}

#gr div{
  border:1px solid navy;
  padding:4px;
}
#gr{
  display:grid;
  grid-template-columns:repeat(2,1fr) repeat(2,2fr);
}

#gr>:nth-child(2) {
  grid-area:1/1/4/3;
}

#gr>:nth-child(6){
  grid-area:2/3/span 2/span 1;
 }

 #gr {
  grid-template-areas: "zona-zece zona-zece .        zona-trei zona-cinci .          zona-opt"
 "zona-zece zona-zece zona-unu zona-trei zona-cinci zona-patru ."
 "zona-zece zona-zece .        zona-trei zona-sapte zona-sapte zona-sapte"
 "zona-sase .         zona-doi zona-doi  .          zona-11    zona-11"
 "zona-12   zona-12   zona-12  zona-noua .          zona-11    zona-11";
}

#gr>:nth-child(1){  grid-area: zona-unu; }
#gr>:nth-child(2){  grid-area: zona-doi; }
#gr>:nth-child(3){  grid-area: zona-trei;}
#gr>:nth-child(4){  grid-area: zona-patru; }
#gr>:nth-child(5){  grid-area: zona-cinci; }
#gr>:nth-child(6){  grid-area: zona-sase; }
#gr>:nth-child(7){  grid-area: zona-sapte; }
#gr>:nth-child(8){  grid-area: zona-opt; }
#gr>:nth-child(9){  grid-area: zona-noua; }
#gr>:nth-child(10){ grid-area: zona-zece; }
#gr>:nth-child(11){ grid-area: zona-11; }
#gr>:nth-child(12){ grid-area: zona-12; }

@media screen  and (min-width:250px) and (max-width:700px){
  body{
    background-color:blue;
  }
 }