/* pentru grid */
#grid-pagina{
    display: grid;
    gap: var(--dimensiune-gap);
    padding: 50px;
    grid-template-areas: /*"meniu meniu meniu meniu"*/
                        "welcome welcome welcome welcome"
                        "fig2 fig1 fig1 fig3"
                        "faq resurse resurse resurse"
                        "promotii resurse resurse resurse"
                        "produse produse produse produse" ;

}
#grid-pagina>*{
    border: 2px solid var(--culoare_border);
    padding: 20px;
} 

#fig1, #fig2, #fig3{
    margin: 0px;
}


/* #meniu {
    grid-area: meniu;
} */

#welcome{
    grid-area:welcome;
}
#anunturi{
    grid-area:anunturi;
}
#resurse{
    grid-area:resurse;
}
#promotii{
    grid-area:promotii;
}
#fig1{
    grid-area:fig1;
}
#fig2{
    grid-area:fig2;
}
#fig3{
    grid-area:fig3;
}
#produse{
    grid-area:produse;
}
#faq{
    grid-area:faq;
}
#calculator{
    grid-area:calculator;
}