<footer>
    <a href="#" id="link-top"><div id="triunghi"></div></a>
    
    <address>
        <a href="https://www.google.com/maps/place/Rovaniemi,+Finland/@66.6644309,24.7131434,8z/data=!3m1!4b1!4m6!3m5!1s0x442b4bbd76772553:0x158088adb48841c4!8m2!3d66.5039478!4d25.7293906!16zL20vMDE1bmIw?entry=ttu"><i class="fa-solid fa-map-location"></i></a>Strada Biroului nr. 4, Bucuresti, sector 6, Romania</a><br>
        <i class="fa-solid fa-mobile-screen-button"></i><a href="tel:+407553972677">Telefon</a><br>
        <i class="fa-solid fa-envelope"></i><a href="mailto:semob@gmail.com">E-mail</a><br>
        <a href="https://wa.me/1xxxxxxxxx">Whatsapp</a><br>
        
         <!-- width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        
    </address>

    <small>Copyright &copy; semob.ro <time datetime="2024-04-12 20:00"></time></small>
    <p id="watermark"></p>
</footer>